<h1>What genre of music do you want to listen to?</h1>

<div class="container">
  <button class='btn' id = "play">play</button>
  <button class='btn' id = "pause">pause</button><br>
  <button class="emotion" id="happy">Happy</button>
  <button class="emotion" id="sad">Sad</button>
  <button class="emotion" id="angry">Angry</button>
</div>
