<h1>What mood of music are you feeling?</h1>

 <button id = 'connect'>Connect</button>

<div id="genre_form", class = "search">
  <%= form_tag( root_path, remote: true, method: "get") do %>
    <%= label_tag(:landing_genre, "I'm feeling..") %>
    <%= text_field_tag(:landing_genre) %>
    <%= submit_tag("Listen") %>
  <% end %>
</div>

<div id="playlist">
  <h1>Choose or enter a mood</h1>
</div>

<div class="container">
  <button class='btn' id = "play">play</button>
  <button class='btn' id = "pause">pause</button><br>
  <button class="emotion" id="happy">Happy</button>
  <button class="emotion" id="sad">Sad</button>
  <button class="emotion" id="angry">Angry</button>
</div>


