<div id="big-ring" class="slide">
  <h1 id = 'homepage'>mood ring</h1>
  <div class="glowing-ring happy"  data-mood="Happy"><h3 id="mood-text">happy</h3></div></a>
  <div class="glowing-ring melancholy" data-mood="Melancholy" ><h3 id="mood-text">sad</h3></div></a>
  <div class="glowing-ring excited"  data-mood="Excited" ><h3 id="mood-text">excited</h3></div></a>
  <div class="glowing-ring chill" data-mood="Chill" ><h3 id="mood-text">chill</h3></div></a>
  <div class="glowing-ring angry"  data-mood="Angry" > <h3 id="mood-text">angry</h3></div></a>
  <div class="glowing-ring sleepy" data-mood="Sleepy" ><h3 id="mood-text">sleepy</h3></div></a>
</div>

<div class="slide" id="inputSong">
  <a href="#" id="hide"><img src='/assets/x-mark-3-16.png'></a><br>
  <h1 >Search Soundcloud</h1>
  <h3 > to add song to Mood Ring</h3>
  <form id = "input" method = "get">
  <input id="titleSearch" type="text" placeholder= "song title, artist, tag, etc." autocomplete= 'off'>
  </form>
  <div id= "search-error"></div>
</div>

<div class="slide" id="addSong">
  <h1>Choose a song to add</h1>
  <div id = 'songList'></div>
</div>

<div class="slide" id="songMood">
  <h1>What mood describes this song?</h1>
  <button class="moodChoice" id="Happy">Happy</button>
  <button class="moodChoice" id="Melancholy">Melancholy</button>
  <button class="moodChoice" id="Excited">Excited</button>
  <button class="moodChoice" id="Chill">Chill</button>
  <button class="moodChoice" id="Angry">Angry</button>
  <button class="moodChoice" id="Sleepy">Sleepy</button>
</div>
