<!DOCTYPE html>
<html>
    <div id="big-ring">
      <h1 id="homepage">mood ring</h1>
      <div class="glowing-ring happy" data-mood= "Happy" rel="modal:close"><h3 id="mood-text">happy</h3></div></a>
      <div class="glowing-ring melancholy" data-mood="Melancholy" rel="modal:close"><h3 id="mood-text">sad</h3></div></a>
      <div class="glowing-ring excited" data-mood= "Excited" rel="modal:close"><h3 id="mood-text">excited</h3></div></a>
      <div class="glowing-ring chill" data-mood= "Chill" rel="modal:close"><h3 id="mood-text">chill</h3></div></a>
      <div class="glowing-ring angry" data-mood= "Angry" rel="modal:close"> <h3 id="mood-text">angry</h3></div></a>
      <div class="glowing-ring sleepy" data-mood= "Sleepy" rel="modal:close"><h3 id="mood-text">sleepy</h3></div></a>
  </div>
</html>
