<!DOCTYPE html>
<html>
    <div id="big-ring">
      <h1 id="homepage">mood ring</h1>
      <div class="glowing-ring happy" data-mood= "happy"><h3 id="mood-text">happy</h3></div>
      <div class="glowing-ring melancholy" data-mood= "melancholy"><h3 id="mood-text">sad</h3></div>
      <div class="glowing-ring excited" data-mood= "excited"><h3 id="mood-text">excited</h3></div>
      <div class="glowing-ring chill" data-mood= "chill"><h3 id="mood-text">chill</h3></div>
      <div class="glowing-ring angry" data-mood= "angry"><h3 id="mood-text">angry</h3></div>
      <div class="glowing-ring sleepy" data-mood= "sleepy"><h3 id="mood-text">sleepy</h3></div>
  </div>
</html>
