<!DOCTYPE html>
<html>
    <div id="big-ring">

      <h1 id="homepage">mood ring</h1>

      <div class="glowing-ring happy" data-mood= "Happy">
      <h3>happy</h3></div></a>

      <div class="glowing-ring melancholy" data-mood="Melancholy" ><h3>sad</h3></div></a>

      <div class="glowing-ring excited" data-mood= "Excited" ><h3>excited</h3></div></a>

      <div class="glowing-ring chill" data-mood= "Chill" ><h3>chill</h3></div></a>

      <div class="glowing-ring angry" data-mood= "Angry" > <h3>angry</h3></div></a>
      
      <div class="glowing-ring sleepy" data-mood= "Sleepy" ><h3>sleepy</h3></div></a>

  </div>
</html>
