<div id="slides" >

  <div id="inputSong">
    <a href="#" id="hide">X</a>
    <h1>Enter a song to add to the database</h1>
    <form id = "input" method = "get">
      <input id="titleSearch" type="text"/>
     </form>
  </div>

  <div class="" id="addSong">
    <h1>Choose a song to add</h1>
    <div id = 'songList'></div>
  </div>

  <div id="songMood">
    <h1>What mood describes this song?</h1>
    <button class="moodChoice" id="Happy"> <span> Happy </span></button>
    <button class="moodChoice" id="Melancholy">Melancholy</button>
    <button class="moodChoice" id="Excited">Excited</button>
    <button class="moodChoice" id="Chill">Chill</button>
    <button class="moodChoice" id="Angry">Angry</button>
  </div>

</div>
