<div>
  <a href="#" id="enterSong" class="slide" title="Search For A Song"><%= image_submit_tag("search-12-32.png", class: "mood-control") %></a>
</div>

<div>
  <a href="#" id="chooseMood" class="slide" title="Get Playlist By Mood"><img src="/assets/circle-dashed-6-48.png"></a>
</div>

<div id="three"></div>

<div id="playlist">

  <div id="progressBar"></div>

  <h3 id= "track-title"></h3>

  <div id="all-controls">
    <a id="play" href="#">
      <%= image_submit_tag("play-24.png", class: "player-control") %>
    </a>
    <a id="pause"  href = "#">
      <%= image_submit_tag("pause-24.png", class: "player-control") %>
    </a>
    <a id="next"  href = "#">
      <%= image_submit_tag("arrow-31-24.png", class: "player-control") %>
    </a>
  </div>

<!-- Get Powered by soundcloud img
 -->
