<div id = "connect-page">
  <h1> Welcome to Mood Ring Radio! </h1>
  <button class = 'btn' onclick= "location.href = '/soundcloud-callback'">Connect with Soundcloud</button> |
  <button class = 'btn' onclick= "location.href = '/player'">Radio</button>
</div>