<div id = "connect-page">
  <h1> Connect to Soundcloud now to start using Mood Ring! </h1>
  <center><button class = 'btn' onclick= "location.href = '/soundcloud-callback'">Connect</button></center>
</div>