<div id="test"></div>
<div id="test2"></div>

<div id="genre-page">
  <h1>Select a genre to begin</h1>
  <div class="genre-container">
    <button class="genre" id="electronic">Electronic</button>
    <button class="genre" id="dance pop">Pop</button><br>
    <button class="genre" id="indie rock">Indie Rock</button>
    <button class="genre" id="dark wave">Dark Wave</button>
    <button class="genre" id="hip hop">Hip Hop</button>
    <button class="genre" id="bachata">Bachata</button>
    <button class="genre" id="alternative rock">Alternative Rock</button><br>
    <button class="genre" id="punk">Punk</button>
    <button class="genre" id="disco">Disco</button>
    <button class="genre" id="ambient">Ambient</button>
    <button class="genre" id="house">House</button>
    <button class="genre" id="future garage">Future garage</button>
    <button class="genre" id="detroit techno">Detroit Techno</button>
    <button class="genre" id="acid techno">Acid Techno</button>
    <button class="genre" id="jazz">Jazz</button>
  </div>
</div>

<div id="mood-page">
  <h1>What mood of music are you feeling?</h1>

  <div id="mood_form", class = "search">
    <%= form_tag( root_path, remote: true, method: "get") do %>
      <%= label_tag(:mood_input, "I'm feeling..") %>
      <%= text_field_tag(:mood_input) %>
      <%= submit_tag("Listen") %>
    <% end %>
  </div>


  <div id="playlist">
    <h1>Choose or enter a mood</h1>
  </div>

  <div class="container">
    <button class='btn' id = "play">play</button>
    <button class='btn' id = "pause">pause</button><br>
    <button class="emotion" id="upbeat">Happy</button>
    <button class="emotion" id="light">Light</button>
    <button class="emotion" id="melancholia">Melancholy</button>
    <button class="emotion" id="dark">Dark</button>
    <button class="emotion" id="bouncy">Bouncy</button>
     <button class="emotion" id="trippy">Trippy</button>
    <button class="emotion" id="angst-ridden">Angst Ridden</button>
    <button class="emotion" id="energetic">Excited</button>
    <button class="emotion" id="romantic">Romantic</button>
    <button class="emotion" id="strange">Strange</button>
    <button class="emotion" id="funcy">Funky</button>
    <button class="emotion" id="sentimental">Sentimental</button>
    <button class="emotion" id="mellow">Mellow</button>
    <button class="emotion" id="manic">Manic</button>
    <button class="emotion" id="gloomy">Gloomy</button>
    <button class="emotion" id="aggressive">Aggressive</button>
  </div>
</div>


