<a href="#" id="enter-song"><h1>Add a song</h1></a>
<a href="#" id="choose-mood"><h1>Choose a mood</h1></a>

<div id="mood-selection">
  <h1>How are you feeling?</h1>
  <button class="emotion" id="upbeat"> <span> Happy </span>  </button>
  <button class="emotion" id="melancholy">Melancholy</button>
  <button class="emotion" id="excited">Excited</button>
  <button class="emotion" id="chill">Chill</button>
  <button class="emotion" id="unhappy">Angry</button>
</div>

<div id="slides" >

  <div id="slide1">
    <a href="#" id="hide">X</a>
    <h1>Enter a song to add to the database</h1>
    <form id = "input">
      <input type="text"/>
     <!--  <textarea id="text" ></textarea> -->
   </form>
    <button id = "go">Search</button>
  </div>

  <div class="" id="slide2">
    <h1>Choose a song to add</h1>
    <div id = 'songList'></div>
    <div id='song-submit'><button id='song-submit' >Enter</button></div>
  </div>

  <div id="slide3">
    <h1>What mood describes this song?</h1>
    <button class="ajax" id="upbeat"> <span> Happy </span>  </button>
    <button class="ajax" id="melancholy">Melancholy</button>
    <button class="ajax" id="excited">Excited</button>
    <button class="ajax" id="chill">Chill</button>
    <button class="ajax" id="unhappy">Angry</button>
<!--     <div id = 'moodDropdown'></div>
    <div id = 'submit'><button id='ajax'>Enter</button></div> -->
  </div>

</div>

<div id="three"></div>

<div id="playlist">

<marquee behavior = "scroll" direction ="left" id = "track-title"><h3>Track playing will be displayed here</h3></marquee>



  <div id="all-controls">
    <a id="play" href="#">
      <img class = "player-control" src='/assets/play-24.png'>
    </a>
    <a id="pause"  href = "#">
      <img class = "player-control" src = "/assets/pause-24.png">
    </a>
    <a id="next"  href = "#">
      <img class = "player-control" src = "/assets/arrow-31-24.png">
    </a>
  </div>

  <% if current_user %>
    <img src = '/assets/soundcloudd.png' onclick="location.href = '/soundcloud-disconnect'" id = "soundcloud" title="Disconnect from Soundcloud">
  <% else %>
    <img src = '/assets/soundcloudd.png' onclick="location.href = '/soundcloud-callback'" id= "soundcloud" title="Connect to Soundcloud">
  <% end %>

