<a href='/soundcloud-disconnect' class='btn' id="disconnect">Disconnect</a>
<a href="#" id="options">Choose Mood</a>

<div id="mood-page"   >
  <h1>What mood of music are you feeling?</h1>
  <a href="#" id="close">close</a>
  <div class="container">
    <button class="btn" id="play">play</button>
    <button class="btn" id="pause">pause</button><br>
    <button class="emotion" id="upbeat">Happy</button>
    <button class="emotion" id="melancholy">Melancholy</button>
    <button class="emotion" id="excited">Excited</button>
    <button class="emotion" id="chill">Chill</button>
    <button class="emotion" id="unhappy">Angry</button>
  </div>
</div>

  <div id="three"></div>

  <div id="playlist">
    <h3>Track playing will show here</h3>
  </div>

