<button class = 'btn' onclick="location.href = '/soundcloud-disconnect'">Disconnect</button>

<div id="three"></div>


<div id="genre-page">
  <h1>Select a genre to begin</h1>
  <div class="genre-container">
    <button class="genre" id="electronic">electronic</button>
    <button class="genre" id="pop">pop</button><br>
    <button class="genre" id="dance">dance</button>
    <button class="genre" id="classical">classical</button>
    <button class="genre" id="hip-hop">Hip Hop</button>
    <button class="genre" id="alternative-rock">Alternative Rock</button><br>
    <button class="genre" id="punk">punk</button>
    <button class="genre" id="jazz">jazz</button>
  </div>
</div>



<div id="mood-page">
  <h1>What mood of music are you feeling?</h1>

  <div class="container">
    <button class='btn' id = "play">play</button>
    <button class='btn' id = "pause">pause</button><br>
    <button class="emotion" id="upbeat">Happy</button>
    <button class="emotion" id="melancholy">Melancholy</button>
    <button class="emotion" id="excited">Excited</button>
    <button class="emotion" id="chill">Chill</button>
    <button class="emotion" id="unhappy">Angry</button>
  </div>
</div>


<div id="playlist">
  <h1></h1>
</div>
