.search{
  width:350px;
height:auto;
margin:50px auto 0;
padding:50px;
background-image: url('http://1.bp.blogspot.com/-R6n2hcg-vck/UN1UOx_dA1I/AAAAAAAAD5E/qdF4sA6SAPM/s1600/repeating_light_gray_texture.jpg');
color:#333;
border-radius:40px 0 40px 0;
font-family: 'Telex', sans-serif;
}

.search input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.search input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  outline: none;
}

.search input:focus, textarea:focus {
  outline-color: #9681a8;
}
