h1{
  text-align: center;
  margin: 0 auto;
  font-family: 'Telex', sans-serif;
  color: white;
}

.form{
  margin-left: 50px;
  margin: 0 auto;
}

.label{
  background-color: white;
  border-radius: 15%;
  text-align: center;
  width: auto;
  display: block;
}
