html{
  overflow:hidden;
  background-color: black;
  color: white;
  font-family: 'Telex', sans-serif;

}

body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0 auto;
}

#playlist{
  background-color: rgba(40, 40, 40, 0.3);
  bottom: 0;
  z-index:1;
  position:absolute;
  width: 100%;
  height: 5%;
  padding: 0.4%;
  margin: 0;
}

#progressBar {
  background-color: rgb(211, 203, 203);
  width: 0px;

   height:3px;
}


#slides div {
  background-color: rgba(40, 40, 40, 0.3);
  width: 100%;
  display: none;
  padding: 2%;
  text-align: center;
  margin: 0 auto;
}

#songList {
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

#three {
  z-index:-10;
}


#soundcloud{
  cursor: pointer;
  margin: 0px 0% 0%;
  float:right;
  margin-right: 20px;
}

.player-control {
  margin:5%;
}

.mood-control {
  margin-top: 30%;
}

#play, #pause {
  position:absolute;
  margin-left: 10px
}

#play {
  visibility: hidden;
}

#next {
  float:right;
  margin-right: 20px;
}

.emotion, .moodChoice {
background: #330099;
height: 70px;
min-width: 260px;
line-height: 24px;
font-size: 16px;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#moodSelection {
  display: none;
}

#enterSong {
  position: absolute;
  right: 15px;
}

#chooseMood, #hide {
  position: absolute;
  left: 15px;
}

#all-controls {
  float:left;
  width:100px;
  margin-top: 10px;
}

h3 {
 width:80%;
 left: 10%;
 position:absolute;
 margin-top:0.8%;
}

li {
  padding-right: 1%;
  text-align: left;
  list-style: none;
}

.fetchedSongs li {
  display: inline;
}

#start-animation {
  display: none;
}

.glowing-ring {
  position: absolute;
  border-radius: 50%;
    width: 20%;
    height: 20%;
}

.glowing-ring.happy {
    top: -10%;
    right: 40%;
    color: #f0f;
      box-shadow:
        inset 0 0 50px #f0f,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #f0f;

}

.glowing-ring.angry {

  right: 0%;
  bottom: 15%;
  color: #cc3333;
  box-shadow:
        inset 0 0 50px #cc3333,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px #cc3333,
        10px 0 80px #cc3333;

}

.glowing-ring.chill {
  left: -2%;
    top: 15%;
    color: #66cc99;
  box-shadow:
        inset 0 0 50px #66cc99,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px  #66cc99,
        10px 0 80px  #66cc99;

}

.glowing-ring.melancholy {
    top: 15%;
  right: -2%;
  color: #0ff;
      box-shadow:
        inset 0 0 50px #0ff,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px #0ff,
        10px 0 80px #0ff;
}

.glowing-ring.excited {
    left: 0%;
    bottom: 15%;
    color: #FF6;
  box-shadow:
        inset 0 0 50px #FF6,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px #FF6,
        10px 0 80px #FF6;

}

.glowing-ring.sleepy {
   right: 40%;
  bottom: -10%;
  color: #333399;
  box-shadow:
        inset 0 0 50px #333399,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px #333399,
        10px 0 80px #333399;

}

#big-ring {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 20%;
  left: 35%;
  box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #000000,
        inset -20px 0 80px #000000,
        inset 20px 0 300px #000000,
        inset -20px 0 300px #000000,
        0 0 50px #fff,
        -10px 0 80px #fff,
        10px 0 80px #fff;
}


#big-ring {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
/*  top: 20%;*/
  left: 35%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #000000,
    inset -20px 0 80px #000000,
    inset 20px 0 300px #000000,
    inset -20px 0 300px #000000,
    0 0 50px #fff,
    -10px 0 80px #fff,
    10px 0 80px #fff;
}


#mood-text {
  padding-top: 35%;
  text-align: center;
  margin: 0 auto;
}

#homepage {
  color: white;
  padding-top: 45%;
  text-shadow: 0 0 60px #fff;
}

.glowing-ring:hover {
  transform: scale(1.4);
}

.modal {
  top: 20% !important;
  margin-left: -30% !important ;
  width: 35%;
}
