html{
  overflow:hidden;
  background-color: black;
  font-family: 'Telex', sans-serif;

}

body {
  margin:0;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: #330099;
}

#playlist{
  background-color: rgba(40, 40, 40, 0.3);
  bottom: 0;
  z-index:1;
  position:absolute;
  width: 100%;
  height: 5%;
  padding: 0.4%;
  margin: 0;
}

#slides div {
  width: 100%;
  display: none;
  padding: 2%;
  color: #330099;
  text-align: center;
  margin: 0 auto;


}
form {
   -webkit-user-modify: read-write;
}

#songList {
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

#three {
  z-index:3000;
}


#soundcloud{
  cursor: pointer;
  margin: 0px 0% 0%;
  float:right;
  margin-right: 20px;
}

.player-control {
  margin:5%;
}

#play, #pause {
  position:absolute;
  margin-left: 10px
}

#play {
  visibility: hidden;
}

#next {
  float:right;
  margin-right: 20px;
}



.emotion {
background: #330099;
color: #fff;
height: 70px;
min-width: 260px;
line-height: 24px;
font-size: 16px;
overflow: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}
button {
border: none;
font-family: inherit;
font-size: inherit;
color: inherit;
background: none;
padding: 25px 80px;
display: inline-block;
margin: 15px 30px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

#mood-selection {
  display: none;
}

#enter-song {
  position: absolute;
  right: 15px;
}

#choose-mood, #hide {
  position: absolute;
  left: 15px;
}

#all-controls {
  float:left;
  width:100px;
  margin-top: 10px;
}

h3 {
 width:80%;
 left: 10%;
 color: white;
 position:absolute;
 margin-top:0.8%;


li {
  padding-right: 1%;
  text-align: left;
  list-style: none;

}


